venv/
*/.env
firebase-init/
__pycache__/
server/firebase-key.json




*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.egg-info/
*.whl
*.zip
*.tar.gz
*.tgz
*.bak
*.swp
*.swo
*.tmp
*.temp
*.DS_Store
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace